@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;font-family: Poppins , serif;}
body{background: #a90808;display: flex;justify-content: center;align-items: center;min-height: 100vh;flex-direction: column;}
.container > h1 {text-align: center;margin-bottom: 10px;color: #24db72;}
.group {
    background: #800000;
    padding: 15px;
    border-radius: 6px;
}
.group h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.group-teams li {
    list-style: none;
    background: #24db72;
    color: black;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
}
.group-teams li >img , table.pot tr td > img{
    width: 50px;
    aspect-ratio: 50/33;
    border-radius: 6px;
}
.group-teams li:not(:last-child){margin-bottom: 4px;}
.container{
    WIDTH: 100%;
    padding: 20PX;
}
.group-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.btns {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    margin-top: 10px;
}
button {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}   
#start-btn, #hide-pots {
    background: #800000;
    color: white;
}
#show-pots {
    background: #24db72;
    color: black;
}
#hide-pots{
    display: block;
    margin: 10px auto;
}
.pots-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(44px);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.pots-container.active {
    display: flex;
}
.pots {
    width: 90%;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #d8d8d8;
}
table.pot {
    border-collapse: collapse;
    border: 1px solid #ededed;
    flex: 0 0 100%;
}
table.pot tr td{
    display: flex;
    padding: 3px 10px;
    text-align: center;
    align-items: center;
    gap: 5px;
}

table.pot > thead > tr {
    background: #24db72;
    color: black;
    padding: 5px;
    font-size: 18px;
    display: block;
}

table.pot > tbody > tr{
    border-bottom: 1px solid #ededed;
}
.pots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    gap: 5px;
}

.copyrights {color: white;}
.copyrights a {color: #24db72;font-weight: bold;text-decoration: none;}

@media (max-width : 880px){
    .group-grid{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));;
    }
    .pots-grid{
        display: flex;
        overflow-x: auto;
    }
}